* {
  box-sizing: border-box;
}

body {
  background: url(https://codeberryschool.github.io/simple-quote-page/assets/freedom.jpg) no-repeat fixed center;
  background-size: cover;
  font-size: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.wrapper {
  text-align: center;
  margin: 12vh 5vw;
  opacity: .7;
}

q {
  display: block;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.3rem;
  letter-spacing: .1rem;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 2.1rem;
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 1.4rem;
  font-style: italic;
}

p::before {
  display: inline-block;
  background-color: #333333;
  content: "";
  height: .05rem;
  margin: 0 .3rem 0.3rem;
  vertical-align: middle;
  width: .4rem;
  
}